@charset "UTF-8";

:root {
    --cor0: #F5EDFD;
    --cor1: #D6B6F7;
    --cor2: #B87EF1;
    --cor3: #9947EB;
    --cor4: #7A18DC;
    --cor5: #5C12A5;
    --cor-extra: #CCA2F6;
    --cor-extra1: #7F50AD;
    --cor-extra2: #C2ABD8;
    --cor-extra3: #5A4470;
    --cor-extra4: #BFBFBF;
}